
* {
  margin: 0;
    padding: 0;
    font-size: 12px ;
}

body {
    background: #ECF0F1;

}
#wrapper {
    position: relative;
    height: 280px;
    overflow: hidden;
    margin: 0 auto;


}

#list {
  _display: none;
    width: 1560px;
}

ul {
    position: absolute;
    overflow: hidden;
}

ul li  {
    float: left;
    width: 520px;
}

ul li img {
    width: 520px;
}

.pre {
    position: absolute;
    background: #000;
    opacity: 0.3;
    left: 0;
    top: 45%;
    padding: 5px;
    color: white;
    cursor: pointer;

}

.next {
    position: absolute;
    background: #000;
    opacity: 0.3;
    right: 0;
    top: 45%;
    padding: 5px;
    color: white;
    cursor: pointer;


}

#pre strong , #next strong {
    opacity: 1;
}

#imgList {
    position: absolute;

    top : 80% ;
    right: 5%;
    padding: 10px;
}

#imgList span {
    padding: 5px ;
    color: #ffffff;
    background: red;
    margin: 0 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


#imgList span:hover {
    background: #ffffff;
    color: red;
}


